---
import classNames from 'classnames'
import type { Frontmatter } from 'types/Frontmatter';
export interface Props {
	post: {
    url: string | undefined,
    frontmatter: Frontmatter
  };
}

const { post } = Astro.props;
---
<a href={post.url} rel="prefetch"  class="my-5 w-full hover:bg-[#f7f7f7] dark:hover:bg-[#222] rounded px-2 py-2">
  <div class="w-full flex justify-between">
    <chip class={classNames(`${post.frontmatter.colorTag} rounded-full font-bold px-2 text-white text-sm flex items-center`)}>{post.frontmatter.tags}</chip>
    <span class="text-[#888] text-xs font-bold">{post.frontmatter.pubDate}</span>
  </div>
  <h4 class="text-xl font-bold my-1 dark:text-white text-black">{post.frontmatter.title}</h4>
  <span class="text-[#888]  w-full text-sm">{post.frontmatter.description}</span>
</a>